<section class="navigation">
    <nav>
        <div class="logo">
            <!-- <img src="assets/Logo64x64.png" alt="logo" /> -->
            <a href="/">
                <h1>Shopping Cart</h1>
            </a>
        </div>
        <ul>
            <li>
                <a class="<%= path === '/' ? 'active-link' : '' %>" href="/">Shop</a>
            </li>
            <li>
                <a class="<%= path === '/products' ? 'active-link' : '' %>" href="/products">Products</a>
            </li>
            <li>
                <a class="<%= path === '/cart' ? 'active-link' : '' %>" href="/cart">Cart</a>
            </li>
            <li>
                <a class="<%= path === '/orders' ? 'active-link' : '' %>" href="/orders">Orders</a>
            </li>
            <li>
                <a class="<%= path === '/admin/add-product' ? 'active-link' : '' %>" href="/admin/add-product">Add
                    Product
                </a>
            </li>
            <li>
                <a class="<%= path === '/admin/products' ? 'active-link' : '' %>" href="/admin/products">Admin Products
                </a>
            </li>
        </ul>
        <div class="hamburger">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
    </nav>
    <div class="menubar">
        <ul>
            <li class="logo">
                <!-- <img src="assets/Logo64x64.png" alt="logo" /> -->
                <a href="/">
                    <h1>Shopping Cart</h1>
                </a>
            </li>
            <li>
                <a class="<%= path === '/' ? 'active-link' : '' %>" href="/">Shop</a>
            </li>
            <li>
                <a class="<%= path === '/products' ? 'active-link' : '' %>" href="/products">Products</a>
            </li>
            <li>
                <a class="<%= path === '/cart' ? 'active-link' : '' %>" href="/cart">Cart</a>
            </li>
            <li>
                <a class="<%= path === '/orders' ? 'active-link' : '' %>" href="/orders">Orders</a>
            </li>
            <li>
                <a class="<%= path === '/admin/add-product' ? 'active-link' : '' %>" href="/admin/add-product">Add
                    Product
                </a>
            </li>
            <li>
                <a class="<%= path === '/admin/products' ? 'active-link' : '' %>" href="/admin/products">Admin Products
                </a>
            </li>
        </ul>
    </div>
</section>